<mat-list class="lista-moradores" *ngIf="visitantesReq | async as visitantes">
  <mat-card *ngFor="let visitante of visitantes">
    <mat-card-title>{{ visitante.nome }}</mat-card-title>
    <mat-card-subtitle>Visitante</mat-card-subtitle>
    <!-- <img
      mat-card-image
      src='{{morador.image}}'
      alt="Photo of a Shiba Inu"
    /> -->
    <!-- <div class="buttons">
      <button mat-button color="primary">Editar</button>
      <button mat-button color="warn">Excluir</button>
    </div> -->
  </mat-card>
</mat-list>
<!--
<dwa-lista-visitantes></dwa-lista-visitantes> -->


