mat-grid-tile{
  background-color: #3A111C;
  color:#fff;
  z-index:2;
}
mat-grid-tile:first-child{
  border-right: 1px solid #3A111C;
}
mat-grid-tile:last-child span{
  height:40px;
  width:40px;
  border-radius:50%;
  background-color:#fff;
  color:#3A111C;
  text-align:center;
  line-height:40px;
  margin: auto 5px;
}
span i{
  line-height:40px;
}
