<h2>Cadastro de Visitante</h2>
<form>
  <mat-form-field>
    <input matInput placeholder="Nome" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="CPF" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Contato" required>
  </mat-form-field>
  <h4>Possui Veículo?</h4>
  <div id="radioButton">
    <mat-radio-group>
      <mat-radio-button #radioSim value="s">Sim</mat-radio-button>
      <mat-radio-button #radioNao value="n">Não</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="dados-veiculo" *ngIf="radioSim.checked">
    <mat-form-field>
      <input matInput placeholder="Placa do Veículo">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Modelo do Veículo / Marca">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Cor do Veículo">
    </mat-form-field>
  </div>
    <button [routerLink]="['/']" mat-raised-button color="primary">Adicionar Visitante</button>
</form>
